.rectangle {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .content {
    width: 100%;
    height: calc(100% - 50px); /* 제목 높이를 제외한 나머지 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .graph-canvas {
    width: 100% !important;
    height: 100% !important;
  }
  