#svg-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.map-container {
    position: relative;
    width: 100%;
    height: 700px; /* 부모 요소의 높이를 설정 */
    overflow: hidden; /* 컴포넌트 영역을 벗어나는 부분 숨기기 */
}

.title-container {
    text-align: center;
    background: #FFFFFF;
    padding: 0;
    z-index: 2; /* 제목을 지도보다 위로 설정 */
    position: relative;
}

.rectangle {
    width: 100%;
    height: 800px; /* 지도 영역의 높이를 조정 */
    box-sizing: border-box;
    overflow: auto; /* 스크롤을 위해 overflow 설정 */
    position: relative;
    z-index: 1; /* 지도를 제목보다 아래로 설정 */
}

.content {
    position: relative;
}

.text-style {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
    color: #1A2B88;
}

.region-details {
    text-align: center;
    margin-top: 10px;
}
