body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F8FAFB;
    height: 100%;
    overflow: hidden;
}

.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; /* 세로 스크롤 가능 */
}

.header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    height: auto;
}

.widget {
    background: #FFFFFF;
    border: 2px solid #ECEEF7;
    box-shadow: 0px 20px 50px rgba(220, 224, 249, 0.5);
    border-radius: 20px;
    padding: 20px;
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
}

.fear-greed-index {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.region-details {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.map {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow: auto; /* 지도 안에서 스크롤 가능 */
}

.news-and-issues {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.graph1, .graph2 {
    grid-column: 1 / 4;
    height: 250px; /* 그래프 컨테이너 높이 조정 */
}

.text-style {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
    color: #1A2B88;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.title-container {
    text-align: center;
    background: #F8FAFB;
    padding: 10px 0;
    z-index: 1; /* 제목을 맨 위에 표시 */
}

.rectangle {
    width: 100%;
    height: 100%; /* 부모 요소의 높이를 설정 */
    box-sizing: border-box;
    overflow: auto;
    position: relative;
}

/* 각 컴포넌트의 크기를 별도로 설정 */
.fear-greed-index .content {
    width: 100%;
    height: 50%;
}

.region-details .content {
    width: 100%;
    height: 50%;
}

.map .content {
    width: 1000px; /* 지도의 전체 너비를 설정 */
    height: 800px; /* 지도의 전체 높이를 설정 */
    position: relative;
}

.news-and-issues .content {
    width: 100%;
    height: 60%;
}

.graph1 .content, .graph2 .content {
    width: 100%;
    height: 66%;
}

.graph-canvas {
    width: 100% !important;
    height: 100% !important;
}
